Host manager01
  Hostname manager01
  User docker
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host worker01
  Hostname worker01
  User docker
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null

Host worker02
  Hostname worker02
  User docker
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
